@charset "utf-8";

/*--------------------------------------------------------------------------
	.canvas
--------------------------------------------------------------------------*/
canvas{
	outline: 1px solid #f09;
	background: #fff;
}


/*--------------------------------------------------------------------------
	.crossfader
--------------------------------------------------------------------------*/

.crossfader{}


.crossfader .frame{
	position: relative;
	max-width: 700px;
	margin: 50px auto;
	height: 250px;
}
.crossfader .frame li{
	position: absolute;
	top: 0;
	left: 0;
}
.crossfader .frame img{
	max-width: 100%;
	height: auto;
}

.crossfader .prev{
	float: left;
}
.crossfader .next{
	float: right;
}

.crossfader ul.pointer{

	text-align: center;
	letter-spacing: -.4em;
}
.crossfader ul.pointer li{
	display: inline;
	letter-spacing: 0;
}
.crossfader ul.pointer a{
	border-radius: 100%;
	display: inline-block;
	margin: 5px;
	width: 12px;
	height: 12px;
	background: #ccc;
}
.crossfader ul.pointer li.active a,
.crossfader ul.pointer li a:hover{
	background: #125982;
}

.crossfader ul.thumbnail{
	clear: both;
	text-align: center;
	padding-top: 15px;
	letter-spacing: -.4em;
}
.crossfader ul.thumbnail li{
	display: inline;
	letter-spacing: 0;
}
.crossfader ul.thumbnail a{
	display: inline-block;
	margin: 5px;
}




/*--------------------------------------------------------------------------
	.slider
--------------------------------------------------------------------------*/


.slider{
	position: relative;
	width: 700px;
	margin: 0 auto;
}

.slider .frame{
	overflow: hidden;
	position: relative;
	width: 700px;
	height: 250px;
}
.slider .slide{
	position: absolute;
	top: 0;
	left: 0;
	width: 10000px;
}
.slider .slide li{
	float: left;
}

@media all and (max-width: 1024px){
	.slider .slide li img{
		width: 350px;
		height: 250px;
	}
}



.slider .prev,
.slider .next{
	position: absolute;
	top: 100px;
}
.slider .prev{
	left: -20px;
}
.slider .next{
	right: -20px;
}


.slider .thumbnail li{
	padding: 20px 12px 0 0;
	float: left;
}
.slider .thumbnail li a{
	display: block;
	border: 3px solid #ccc;
}
.slider .thumbnail li a.active,
.slider .thumbnail li a:hover{
	border-color: #f09;
}


.slider .pointer{
	letter-spacing: -.4em;
	text-align: center;
}
.slider .pointer li{
	display: inline;
}
.slider .pointer a{
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 10px 5px;
	background: #ccc;
	border-radius: 100%;
}
.slider .pointer li.active a,
.slider .pointer a:hover{
	background: #c09;
}

