@charset "UTF-8";/* @PC */head{
	font-family: pc, desktop, hoge;
}/* @Tablet */@media all and (max-width: 1024px){
	head{
		font-family: tb-aside;
	}
}@media all and (max-width: 768px){
	head{
		font-family: tb-bside;
	}
}/* @SmartPhone */@media all and (max-width: 400px){
	head{
		font-family: sp;
	}
}