@charset "utf-8";

/**
 *
 * global: サイト共通
 *
 */

/*--------------------------------------------------------------------------
	reset
---------------------------------------------------------------------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,ins,kbd,q,samp,small,strong,
sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
ul,ol,li,dl,dt,dd{list-style-type:none;list-style-position:outside;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins{text-decoration:none;}
img{vertical-align:top;border:0;}
del{text-decoration:line-through;}
hr{display:block;height:0;border:0;margin:0;padding:0;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
em,strong{ font-weight: bold;}

input,select,textarea{margin:0;padding:0;vertical-align:baseline;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}

img {max-width: 100%;}


head{
	font-family: pc;
}
@media all and (max-width: 767px){
	head{
		font-family: sp;
	}
}


/*--------------------------------------------------------------------------
	html
---------------------------------------------------------------------------*/
html{
	overflow-y: scroll;
}



/*--------------------------------------------------------------------------
	body
---------------------------------------------------------------------------*/
body{
	font-family:"メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
	font-size:14px;
	font-size:88%\9;
	line-height:1.8;
	-webkit-text-size-adjust:100%;
	background: #fff;
	color: #333;
}

@media all and (max-width: 767px){
	body{
		min-width: 320px;
		font-size:12px;
	}
}


/*----------------------------------------------------------------------
	a
----------------------------------------------------------------------*/
a {
  color: #428bca;
  outline: none;
}
a:hover {
  color: #428bca;
  text-decoration: none;
}


/*--------------------------------------------------------------------------
  #page
---------------------------------------------------------------------------*/
#page{}



/*--------------------------------------------------------------------------
	header
---------------------------------------------------------------------------*/
header {
	z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
	min-width: 320px;
  width: 100%;
  background: #23272d;
	text-align: center;
	font-family: 'Abel', sans-serif;
}


/* h1
-----------------------------------------------------------------*/
header h1 {
  padding: 15px 0;
  font-size: 24px;
  letter-spacing: .02em;
  line-height: 1;
}
header h1 a{
	color: #fff;
	text-decoration: none;
}
header h1 a:hover{
	color: #428bca;
}

/* @SP */
@media all and (max-width: 767px){
	header h1 {
	  padding: 10px 0;
	  font-size: 18px;
	}
}



/*--------------------------------------------------------------------------
	#content
---------------------------------------------------------------------------*/
#content{
	max-width: 978px;
	margin: auto;
	padding: 60px 20px 80px;
}

#content h2{
	margin: 60px 0 10px;
	font-size: 28px;
	font-family: 'Abel', sans-serif;
}


/* em */
#content .em{
	color: #d95043;
	font-weight: bold;
	font-size: 18px;
}

/* list_disc */
.list_disc{
	padding-left: 1.5em;
}
.list_disc li{
	list-style-type: disc;
}


/* .list_frame */
.list_frame{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	background: #f8f8f8;
}

/* .run_txt */
p.run_txt{
	margin-bottom: 20px;
	padding: 5px;
	background: #1c2a3c;
	font-weight: bold;
	color: #fff;
	text-align: center;
}

/* .btn */
p.btn{
	margin-bottom: 20px;
}
p.btn a{
	display: inline-block;
	min-width: 20%;
	padding: 12px 10px;
	margin: 4px 8px 4px 0;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.red{ background-color: #d95043;}
.green{ background-color: #26c281;}
.blue{ background-color: #357ebd;}

p.btn a:hover{
	color: #fff;
	opacity: .7;
}


/* @SP */
@media all and (max-width: 767px){
	#content{
		padding: 40px 15px 40px;
	}

	#content h2{
		margin: 25px 0 5px;
		font-size: 18px;
	}
}


/* .nav_index
-----------------------------------------------------------------*/
.nav_index{
	max-width: 768px;
	margin: 0 auto;
}

.nav_index ul{
	border-top: 1px solid #e6e6e6;
	font-size: 24px;
	font-family: 'Abel', sans-serif;
}
.nav_index a{
	overflow: hidden;
	position: relative;
	display: block;
	padding: 12px 24px;
	border-bottom: 1px solid #e6e6e6;
	font-weight: bold;
	text-decoration: none;
	-webkit-transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
  transition:         all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}
.nav_index i{
	float: right;
	display: inline-block;
	padding-top: 10px;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
.nav_index i:after{
	content:"\f061";
}

.nav_index a:hover{
	padding-right: 19px;
	background-color: #e6e8ea;
}

/* @SP */
@media all and (max-width: 767px){
	.nav_index ul{
		font-size: 14px;
	}
	.nav_index a{
		padding: 8px 12px;
	}
}

/*--------------------------------------------------------------------------
	footer
---------------------------------------------------------------------------*/
footer{
	padding: 15px;
	background: #23272d;
	color: #F5F1E9;
	font-size: 12px;
	font-family: 'Abel', sans-serif;
	text-align: center;
	letter-spacing: .02em;
}

/* @SP
-----------------------------------------------------------------*/
@media all and (max-width: 767px){
	footer{
		padding: 10px;
		font-size: 10px;
	}
}


/*--------------------------------------------------------------------------
	clearfix
---------------------------------------------------------------------------*/
.clearfix:before,
.clearfix:after,
.cf:before,
.cf:after{
	content:"";
	display:table;
}
.clearfix:after,
.cf:after{
	clear:both;
}
.clearfix,
.cf{
	zoom:1;
}

/*--------------------------------------------------------------------------

--------------------------------------------------------------------------*/
.font-rkt{
	font-family: 'Rokkitt', serif;
}
